.bg-header{
    height:120px;
    background-color:#182e48;
    .container{
        width: 100%;
        padding: 0 15px;
        .headline{
            font-family: $fonts-Op;
            color: white;
            font-size: 45px;
            font-weight: 700;
            font-style: italic;
            line-height: 23px;
            margin: 30px;            
        }
        .bottom-headline{
            font-family: $fonts-Op;
            color: #ffffff;
            font-size: 17px;
            font-weight: 400;
            line-height: 23px; 
            margin: -10px 30px;         
        }
    }
}

.stage
    {color: #000000;
    font-family: $fonts-Op;
    font-size: 22px;
    font-weight: 700;
    line-height: 23px;
    margin: 50px 0px;

}

.color{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: center;
    div{ width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid lightblue;
    }
    .p-1{background-color: $p-1};
    .p-2{background-color: $p-2};
    .p-3{background-color: $p-3};
    .p-4{background-color: $p-4};

    .l1-1{background-color:$l1-p1};
    .l1-2{background-color:$l1-p2};
    .l1-3{background-color:$l1-p3};
    .l1-4{background-color:$l1-p4};

    .l2-1{background-color:$l2-p1};
    .l2-2{background-color:$l2-p2};
    .l2-3{background-color:$l2-p3};
    .l2-4{background-color:$l2-p4};

    .l3-1{background-color:$l3-p1};
    .l3-2{background-color:$l3-p2};
    .l3-3{background-color:$l3-p3};
    .l3-4{background-color:$l3-p4};

    .d1-1{background-color:$d1-p1};
    .d1-2{background-color:$d1-p2};
    .d1-3{background-color:$d1-p3};
    .d1-4{background-color:$d1-p4};
    
    .d2-1{background-color:$d2-p1};
    .d2-2{background-color:$d2-p2};
    .d2-3{background-color:$d2-p3};
    .d2-4{background-color:$d2-p4};

    .d3-1{background-color:$d3-p1};
    .d3-2{background-color:$d3-p2};
    .d3-3{background-color:$d3-p3};
    .d3-4{background-color:$d3-p4};
}


h1{
    @include fonts(35px,$fonts-sb,700,$d3-p4)
}

h2{
    @include fonts(33px,$font-m,400,$d2-p4)
}

h3{
    @include fonts(27px,$font-m,400,$d3-p4)
}

h4{
    @include fonts(22px,$font-m,400,$d3-p4)
}

h5{
    @include fonts(17px,$font-m,400,$d3-p4)
}

h6{
    @include fonts(15px,$font-m,400,$d3-p4)
}


h1:hover{
    color: white;
    background-color: $p-1;
    width: 460px;
}

h2:hover{
    color: white;
    background-color: $p-1;
    width: 425px;
}

h3:hover{
    color: white;
    background-color: $p-1;
    width: 350px;
}

h4:hover{
    color: white;
    background-color: $p-1;
    width: 285px;
}

h5:hover{
    color: white;
    background-color: $p-1;
    width: 220px;
}

h6:hover{
    color: white;
    background-color: $p-1;
    width: 195px;
}


p{
    @include fonts(14px,$font-m,400,$d1-p4)
}

ul{
    list-style-type: none;
      
    li{
        i{
           color:$p-1;
           padding: 10px;
        }
    }
}

.Subtitle p{
    @include fonts(20px,$font-m,400,$d1-p4);
    margin-top:38px;
}

.Subtitle p:hover{
    color: white;
    background-color: $p-1;
    padding:10px;
    width: 500px;
}


 .Quotation{
     @include background-fonts($p-1,#e6f7fe,"OpenSans-Regular",17px,400);
     padding: 15px 10px;
     border-left:solid 2px $p-1;
 }


 .buttons{
     p{ margin: 10px;} 
     
     .btn-warningg{
        width: 170px;
        margin-bottom: 20px;
        background-color: $p-2;
        color: white;
    }
   
    .btn-warningg:hover{
       width: 170px;
       margin-bottom: 20px;
       background-color: $l2-p2;
       color: white;
   }
   
    .btn-outline-warningg{
       width: 170px;
       margin-bottom: 20px;
    }
   
    .btn-warninggg{
       width: 170px;
       margin-bottom: 20px;  
       background-color: $p-1;
       color: white;
   }
   
   .btn-warninggg:hover{
      width: 170px;
      margin-bottom: 20px;
      background-color: $l2-p1;
      color: white;
   }
   .btn-outline-warningg{
       width: 170px;
       margin-bottom: 20px;
       border-color: $p-2;
       color: $p-2;
    }
    .btn-outline-warningg:hover{
        width: 170px;
        margin-bottom: 20px;
        background-color: $l2-p2;
        border-color: $l2-p2;
        color: white;
    }
   .btn-outline-warninggg{
      width: 170px;
      margin-bottom: 20px;
      border-color: $p-1;
      color: $p-1;
   }
   .btn-outline-warninggg:hover{
       width: 170px;
       margin-bottom: 20px;
       background-color: $l2-p1;
       border-color: $l2-p1;
       color: white;
   }
   
   
    .btn-warning:disabled{
        background-color: $l2-p4;
        border: $l2-p4;
        color: white;
        width: 170px;
        margin-bottom: 50px;
    }
 }
 .buttonss{
     p{ margin: 10px;} 

     .btn-warningg{
        width: 120px;
        margin-bottom: 20px;
        background-color: $p-2;
        color: white;
    }
   
    .btn-warningg:hover{
       width: 120px;
       margin-bottom: 20px;
       background-color: $l2-p2;
       color: white;
   }
   
    .btn-outline-warningg{
       width: 120px;
       margin-bottom: 20px;
    }
   
    .btn-warninggg{
       width: 120px;
       margin-bottom: 20px;  
       background-color: $p-1;
       color: white;
   }
   
   .btn-warninggg:hover{
      width: 120px;
      margin-bottom: 20px;
      background-color: $l2-p1;
      color: white;
   }
   .btn-outline-warningg{
       width: 120px;
       margin-bottom: 20px;
       border-color: $p-2;
       color: $p-2;
    }
    .btn-outline-warningg:hover{
        width: 120px;
        margin-bottom: 20px;
        background-color: $l2-p2;
        border-color: $l2-p2;
        color: white;
    }
   .btn-outline-warninggg{
      width: 120px;
      margin-bottom: 20px;
      border-color: $p-1;
      color: $p-1;
   }
   .btn-outline-warninggg:hover{
       width: 120px;
       margin-bottom: 20px;
       background-color: $l2-p1;
       border-color: $l2-p1;
       color: white;
   }
   
   
    .btn-warning:disabled{
        background-color: $l2-p4;
        border: $l2-p4;
        color: white;
        width: 120px;
        margin-bottom: 50px;
    }
 }

 .text {
    input{
     width: 250px;
     border: solid 1px $l2-p4;
     text-align: left;
 }
}
.text p:hover{
    background-color: $p-1;
    width: 150px;
    color: white;
    padding-left: 5px;
}
option:hover{
    background-color: $l2-p1;
}
.btm{
        display: inline-block;
        font-weight: 400;
        color: $p-4;
        text-align: center;
        width: 250px;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        /* border: 1px solid transparent; */
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        border-color:$l2-p4;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.textt p:hover{
    background-color: $p-1;
    width: 150px;
    color: white;
    padding-left: 5px;
}
.teext {
    input{
     width: 250px;
     border: solid 1px $l2-p4;
     text-align: left;
     border-color: green;
     color: green;
 }
 input[type="text"]::placeholder { color: green; }
    i{
        position: absolute;
        right: 30px;
        bottom: 10px;
        color: green;
    }

}
.teeext {
    input{
     width: 250px;
     border: solid 1px $l2-p4;
     text-align: left;
     border-color: $p-2;
     color: $p-2;
 }
 input[type="text"]::placeholder { color: $p-2; }
 i{
    position: absolute;
    right: 30px;
    bottom: 10px;
    color: $p-2;
}
}

.square input{
    margin: 10px;
    margin-top: 50px;
}
.square #checkbox:hover{
    background-color: $p-1;
    color: $p-1;
}
.square .label{
    color: $l2-p4;
}
.circle .label{
    color: $l2-p4;
}
.circle input{
    margin: 10px;
    margin-top: 10px;
}
.menu{ 
    a:hover{
        color: $p-2;
    }
    a{
        text-decoration: none;
        @include fonts(14px,$font-m,400,$p-4);
        padding-bottom: 14px;
    }
    a:hover{
        border-bottom: solid 2px $p-2;
    }
}
.p{
    color: $d3-p4
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: $p-4;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: $p-1;
    color: white;
    border-radius: 50px;
    height: 40px;
    width: 40px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 50px;
}
.div{
    margin-left: 5px;
    margin-top: 10px;
    .open{
        width: 15px;
        height: 15px;
        border: 2px solid $p-1;
        border-radius: 50%;
    }
    .closed{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $p-4;
        margin-left: 5px;
    }
}
.infoo,.social{
    margin-top: 40px;
}
.social{
    padding-left: 60px;
}
.info{
    border: 1px solid $p-4;
    padding: 20px;
}
.sociall i{
    margin-right: 20px;
    font-size: 20px;
}
.sociall .colore{
    margin-top: 20px;
}
.sociall .black i{
    color: $p-4;
    margin-left: 10px;
    margin-top: 10px;
}
.sociall .black i:hover{
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}
.sociall .colore i:hover{
    color: white;
}
.sociall .colore i{
    margin-left: 10px;
    margin-top: 10px;
}

.sociall .colore{
    .ff{
        color: $d2-p1;
    }
    .tt{
        color: $p-1;
    }
    .pp{
        color: red;
    }
    .gg{
        color: $p-2;
    }
}
.sociall:hover{
    background-color: $p-1;
    height: 140px;
}
.one{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: white solid 1px;
    margin-left: 10px;
    margin-top: 5px;
}
.two{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $d1-p1;
    margin-left: 10px;
    margin-top: 5px;
}
.two:hover{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $d1-p1;
    margin-left: 10px;
    margin-top: 5px;
}

